.main{
  background: #41B3F4;
}

.subMain{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 166px;
  padding-right: 41px;
  // padding-bottom: 175px;

  @media(max-width:1000px){
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 70px;

  }
  @media(max-width:1100px){
    padding-bottom: 80px;

  }

  @media(max-width:499px){
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  
  }
}

.subMain>div:nth-child(1){
  flex: 1;
}

.subMain>div:nth-child(1) > div >div:nth-child(1){
  display: flex;
  align-items: center;
  gap: 75px;

  @media(max-width:1000px){
    // display: none;
    padding-top: 40px;
    gap: 75px;
  }
}
.subMain>div:nth-child(1)p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  width: 120px;
  color: #414449;
}

.subMain>div:nth-child(2){
  flex: 1;
}

.subMain>div:nth-child(2)h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -0.02em;
  margin: 0px;
  padding-bottom: 42px;
  text-transform: capitalize;
  color: #000000;
  @media(max-width:1000px){
    font-size: 30px;
  }
  @media(max-width:1000px){
    padding-top: 40px;
  }
  
}

.subMain>div:nth-child(2)button {
  width: 160px;
  height: 58px;
  background: #E15C19;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  border: none;
}

.subMain>div:nth-child(3){
  flex: 1;
  @media(max-width:499px){
    display: none;
  }
}